
build/

*.glo
*.idx
*.out
*.toc
*.fontspec
*.otf
*.aux
*.log
*.pdf
*.sty
*synctex*
*.zip

test*.tex

fontspec/
testsuite/build/
testsuite/fonts/
testsuite/tests/*.pdf
doc-files/

fontspec.lua
fontspec.pdf

lucidaot.tex

# for local (in-place) doc typesetting:
zzz-*

*.hd
