
Archive/

*.idx
*.out
*.toc
*.fontspec
*.otf
*.aux
*.log
*.pdf
*.sty
*synctex*
*.zip
Fonts/

test*

fontspec-example.tex

testsuite/build/
testsuite/fonts/
testsuite/tests/*.pdf
doc-files/

fontspec.cfg
fontspec.lua
fontspec.pdf
