
Archive/
build/
zzz-*

*.glo
*.idx
*.out
*.toc
*.fontspec
*.otf
*.aux
*.log
*.pdf
*.sty
*synctex*
*.zip
Fonts/

test*.tex

testsuite/build/
testsuite/fonts/
testsuite/tests/*.pdf
doc-files/

fontspec.lua
fontspec.pdf

copy-tu.sh

lucidaot.tex

*.bbprojectdata
*.bbprojectd*
